@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de New Store</h1>
    <p class="lead">Esta es la plataforma de New Store para la administración de productos, su compra y venta.</p>
    <p><a href="https://github.com/RicardoWebProject/NewStoreSA" class="btn btn-primary btn-lg" target="_blank">Accede al repositorio &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Para iniciar</h2>
        <p>
            En la barra de navegación obtendrá los enlaces que pueden serle de utilidad.
            El apartado de "Productos" le llevará hacia las operaciones con los productos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Esta aplicación está alojada en el servicio de SmarterASP.NET</p>
    </div>
</div>